/* Style pour le corps de la page */
body {
    font-family: "Gill Sans Extrabold", sans-serif;
    background-color: #f9efd4;
    color: #780a0a;
  }

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://previews.123rf.com/images/yuliia25/yuliia251609/yuliia25160900112/62283769-croquis-de-garde-robe-dessiné-main-intérieur-de-la-chambre-avec-penderie-vêtements-sur-les.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
  } 

  /* Style pour l'en-tête du site */
  .header {
    background-color: #7060d6;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /* Style pour la navigation */
  .navbar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .nav-link {
    color: #333;
    text-decoration: none;
    padding: 10px;
  }
  
  .nav-link:hover {
    background-color: #333;
    color: #fff;
  }
  
  /* Style pour la section des produits */
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  
  .product {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .product img {
    width: 100%;
    height: auto;
  }
  
  .product h2 {
    margin-top: 0;
  }
  
  .product p {
    margin-bottom: 0;
  }
  
  /* Style pour les produits éco-responsables */
  .product-eco {
    border-color: #5cb85c; /* couleur verte pour les produits eco-responsables */
  }
  
  /* Style pour les badges éco-responsables */
  .badge-eco {
    background-color: #5cb85c;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  /* Style pour les filtres de recherche */
  .filter {
    margin-bottom: 20px;
  }
  
  .filter label {
    display: block;
    margin-bottom: 5px;
  }
  
  /* Style pour les boutons d'action */
  .btn {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #5cb85c;
  }
  
  /* Style pour le pied de page */
  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  