body {
    background-color: #fdf9ed;
    text-align:center;
  }

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://previews.123rf.com/images/yuliia25/yuliia251609/yuliia25160900112/62283769-croquis-de-garde-robe-dessiné-main-intérieur-de-la-chambre-avec-penderie-vêtements-sur-les.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
  }
  
  /* Style the heading */
  h1 {
    font-family: "Gill Sans Extrabold", sans-serif;
    font-size: 3rem;
    margin: 1rem;
    text-align: center;
    color: #631307;
  }
  
  /* Style the section headings */
  section h2 {
    font-size: 2rem;
    margin: 1.5rem;
    color: #631307;
  }
  
  /* Style the options section */
  #options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: 1rem;
    background-color: #95635b;
    border-radius: 10px;
    font-weight: bold;
    
  }
  
  #options > div {
    margin: 0.5rem;
  }
  
  #options select {
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #333;
    margin: 0 10px;
  }
  
  
  /* Style the products section */
  #products {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    padding: 20px;
    border-radius: 10px;
  }

  .container_product{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
  
  }
  
  .product {
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin: 0.5rem;
  }

  .product:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }
  
  .product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  
  .product-info h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #1d3557;
  }
  
  .product-info h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #457b9d;
  }
  
  .product-info p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .product-price {
    font-size: 1.25rem;
    font-weight: bold;
    color: #e63946;
  }
  
  /* Style the indicators section */
  #indicators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: #fdf9ed;

    font-weight: bold;
    color: #631307;

    padding: 1em;
    border-radius: 10px;
  }
  
  #indicators div {
    margin: 0.5rem;
  }
  
  #indicators span {
    font-size: 1rem;
    margin-right: 0.5rem;
    color: #333;
  }
  
  #indicators span:last-child {
    margin-right: 0;
  }